CAPITOL_TRADES_URL=https://www.capitoltrades.com/trades
SCRAPER_TIMEOUT_MS=30000
SCRAPER_HEADLESS=true

ENABLE_TRADING=false
DRY_RUN=true
TRADING_MODE=paper
CONFIRM_LIVE_TRADING=
ALPACA_API_KEY=
ALPACA_SECRET_KEY=
ALPACA_PAPER=true

DEFAULT_NOTIONAL_USD=10
MAX_TRADES_PER_RUN=3
MAX_SYMBOL_EXPOSURE_USD=50
ALLOWED_TICKERS=
BLOCKED_TICKERS=
ALLOW_AFTER_HOURS_QUEUE=false
ALLOW_LIVE_MARKET_ORDERS=false
