CAPITOL_TRADES_URL=https://www.capitoltrades.com/trades
DATABASE_PATH=./data/capitoltrades.sqlite
ALPACA_API_KEY=
ALPACA_SECRET_KEY=
ALPACA_BASE_URL=https://paper-api.alpaca.markets
TRADING_ENABLED=false
PAPER_ORDER_QTY=1
DEBUG_SAVE_HTML=false
PLAYWRIGHT_FALLBACK=true
SCRAPER_TIMEOUT_MS=45000
MIN_TRADE_SIZE=0
